**/board/*tangnano*/impl/gwsynthesis
**/board/*tangnano*/impl/pnr
**/board/*tangnano*/impl/temp
**/board/*tangnano*/*.gprj.user
**/compiler/a.out
**/compiler/ucc
**/compiler/*.o
**/compiler/tests/*.got.asm
**/assembler/uasm
**/assembler/*.o
**/cpu/*.exe
src/visualizer/*.svg
src/visualizer/vis.asm
src/visualizer/vis.hex
src/visualizer/dump.vcd
src/visualizer/trace.txt
.*.swp
.*.d
