**/board/*tangnano*/impl/gwsynthesis
**/board/*tangnano*/impl/pnr
**/board/*tangnano*/impl/temp
**/board/*tangnano*/*.gprj.user
**/compiler/a.out
**/compiler/ucc
**/compiler/*.o
**/compiler/tests/*.got.asm
**/assembler/uasm
**/assembler/*.o
**/cpu/*.exe
.*.swp
.*.d
