**/board/*tangnano*/impl/gwsynthesis
**/board/*tangnano*/impl/pnr
**/board/*tangnano*/impl/temp
**/board/*tangnano*/*.gprj.user
**/compiler/a.out
**/compiler/ucc
**/compiler/*.o
**/assembler/uasm
**/assembler/*.o
**/cpu/sim.exe
.*.swp
.*.d
